*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
.container{
    width: 70%;
    padding: 15px;
    margin: 0 auto;
    align-items: center;
    color: red;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    background: linear-gradient( #007bb2, #0d1423);
}
