*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 108vh;
    background: linear-gradient( #007bb2, #0d1423);
}